* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0, 1rem;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-left: 0%;
}


.navip ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navip a {
    color: #1a1a1a;
    background-color: rgb(0, 162, 232);
    border-radius: 24px;
    text-decoration: none;
    padding: 3px 4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 5);


}

.navip a:hover {
    color: rgb(67, 184, 235);
}

hr {
    opacity: 50%;
    color: rgb(0, 0, 0);

}

.title {

    color: rgb(47, 127, 138);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 200px;
    margin-right: 11px;

}

.ys {
    margin-left: 40px;

}

.hero {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
    max-width: 100%;
}

.lip {
    padding-top: 8%;
}

.navipu a {
    color: #1a1a1a;
    background-color: #0982e5;
    border-radius: 24px;
    text-decoration: lch(from red 99 82 44);
    padding: 2% 2%;
    padding-top: 1%;


}
