* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0,1rem;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-left: 0%;
}


.navi ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navi a {
    color: #1a1a1a;
    background-color: #e50914;
    border-radius: 24px;
    text-decoration: none;
    padding: 3px 4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 5);


}

.navi a:hover {
    color: #ff4d4d;
}

hr {
    opacity: 50%;
    color: rgb(0, 0, 0);

}

.title {

    color: rgb(47, 127, 138);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    flex-direction: column;
    gap: 0, 5rem;
    margin-bottom: 5%;
    margin-right: 10%;

}

.ys {
    margin-left: 40px;

}

.hero {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    max-width: 100%;
}

